### Problem Statement:
    Sales management has gained importance to meet increasing competition and the need
    for improved methods of distribution to reduce cost and to increase profits. Sales
    management today is the most important function in a commercial and business
    enterprise.
    Do ETL : Extract-Transform-Load on this amazon data set
    Sales-trend -> month wise , year wise , yearly_month wise

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.simplefilter('ignore')
pd.set_option('display.max_columns', None)
file = 'SALESDATA.xls'

In [2]:
df = pd.read_excel(file)
df.head()

,CustKey,DateKey,Discount Amount,Invoice Date,Invoice Number,Item Class,Item Number,Item,Line Number,List Price,Order Number,Promised Delivery Date,Sales Amount,Sales Amount Based on List Price,Sales Cost Amount,Sales Margin Amount,Sales Price,Sales Quantity,Sales Rep,U/M
0,10000481,2017-04-30,-237.91,2017-04-30,100012,NaN,NaN,Urban Large Eggs,2000,0.00,200015,2017-04-30,237.91,0.00,0.0,237.91,237.910000,1,184,EA
1,10002220,2017-07-14,368.79,2017-07-14,100233,P01,20910,Moms Sliced Turkey,1000,824.96,200245,2017-07-14,456.17,824.96,0.0,456.17,456.170000,1,127,EA
2,10002220,2017-10-17,109.73,2017-10-17,116165,P01,38076,Cutting Edge Foot-Long Hot Dogs,1000,548.66,213157,2017-10-16,438.93,548.66,0.0,438.93,438.930000,1,127,EA
3,10002489,2017-06-03,-211.75,2017-06-03,100096,NaN,NaN,Kiwi Lox,1000,0.00,200107,2017-06-03,211.75,0.00,0.0,211.75,211.750000,1,160,EA
4,10004516,2017-05-27,96627.94,2017-05-27,103341,P01,60776,High Top Sweet Onion,1000,408.52,203785,2017-05-28,89248.66,185876.60,0.0,89248.66,196.150901,455,124,SE

### Data cleaning

In [3]:
df.shape

(65282, 20)

In [4]:
df.isna().sum()

CustKey                                0
DateKey                                0
Discount Amount                        2
Invoice Date                           0
Invoice Number                         0
Item Class                          8289
Item Number                           41
Item                                   0
Line Number                            0
List Price                             0
Order Number                           0
Promised Delivery Date                 0
Sales Amount                           0
Sales Amount Based on List Price       0
Sales Cost Amount                      0
Sales Margin Amount                    0
Sales Price                            1
Sales Quantity                         0
Sales Rep                              0
U/M                                    0
dtype: int64

In [5]:
#discount amount have 2 null i am replacing with 0
df['Discount Amount'].fillna(0, inplace=True)

In [6]:
#sales price have 1 null value i am replacing with 0
df['Sales Price'].fillna(0, inplace=True)

'Invoice Number', 'DateKey', 'Order Number', 'Item Class', 'Item Number', 'Line Number', 'Sales Rep', 'U/M', 'Promised Delivery Date' these columns are unnecessary for my requirements

In [7]:
df.drop(columns=['Invoice Number', 'DateKey', 'Order Number', 'Item Class', 'Item Number', 'Line Number', 'Sales Rep', 'U/M', 'Promised Delivery Date'], inplace=True, axis=1)
df = df[[
    'CustKey', 'Invoice Date', 'Item', 'Discount Amount',
    'Sales Quantity', 'Sales Amount', 'Sales Cost Amount', 'Sales Margin Amount', 'Sales Price',
    'List Price', 'Sales Amount Based on List Price'
]]

converting date to year month and date is not required

In [8]:
#creating year and month column
df['Year']=0
df['Month']=0

In [9]:
for i in range(len(df)):
    df.iloc[i, 11] = int(str(df.iloc[i, 1]).split('-')[0])
    df.iloc[i, 12] = int(str(df.iloc[i, 1]).split('-')[1])
df.drop('Invoice Date', inplace=True, axis=1)

In [10]:
# months = {
#     1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May', 6:'Jun', 7:'Jul', 8:'Aug', 9:'Sep', 10:'Oct', 11:'Nov', 12:'Dec'
# }
# df['Month']=df['Month'].map(months)

In [11]:
df.dtypes

CustKey                               int64
Item                                 object
Discount Amount                     float64
Sales Quantity                        int64
Sales Amount                        float64
Sales Cost Amount                   float64
Sales Margin Amount                 float64
Sales Price                         float64
List Price                          float64
Sales Amount Based on List Price    float64
Year                                  int64
Month                                 int64
dtype: object

In [12]:
df.tail()

,CustKey,Item,Discount Amount,Sales Quantity,Sales Amount,Sales Cost Amount,Sales Margin Amount,Sales Price,List Price,Sales Amount Based on List Price,Year,Month
65277,10017638,High Top Oranges,505.78,9,569.90,239.95,329.95,63.322222,119.52,1075.68,2018,3
65278,10017638,Landslide White Sugar,410.75,2,462.81,423.55,39.26,231.405000,436.78,873.56,2018,3
65279,10017638,Moms Potato Salad,876.16,8,987.20,574.00,413.20,123.400000,232.92,1863.36,2018,3
65280,10017638,Better Fancy Canned Sardines,24226.77,36,27297.51,16188.90,11108.61,758.264167,1431.23,51524.28,2018,3
65281,10017638,Imagine Popsicles,24479.26,48,27582.02,14234.22,13347.80,574.625417,1084.61,52061.28,2018,3

##### Here,
    1. Sales price without discount per piece is List Price
    2. Total sales price without discount is List Price * Sales Quantity = Sales Amount Based on List Price
    3. Actual sales price per piece is Sales Price
    4. Actual total sales price is Sales Price * Sales Quantity = Sales Amount
    5. Total discount is Discount Amount
    6. Total cost of company during selling a product is Sales Cost Amount
    7. Total income on a product is Sales Margin Amount

In [13]:
df.to_csv('data.csv', header=True, index=None)

In [14]:
from ydata_profiling import ProfileReport
pf = ProfileReport(df)
pf.to_file('data_report.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]